<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STEP2</title>
</head>
<body>
    <form th:action="@{/mentor/wizard/complete}" th:method="post"
          th:object="${mentorForm}">
        <input th:field="*{specialty}" placeholder="전문 분야">
        <button>완료</button>
    </form>
</body>
</html>