<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: htmlHead('멘토 등록')}">
    <title></title>
</head>
<body>
    <header th:replace="~{fragments/common :: header}"></header>

    <main>
        <h1 th:text="${mentorForm.id != null} ? '멘토 수정' : '멘토 등록'">멘토 등록</h1>

        <!-- IntelliJ 오류 -->
        <form th:action="${mentorForm.id != null}
                         ? @{/mentor/{id}/edit(id=${mentorForm.id})}
                         : @{/mentor/new}"
              th:object="${mentorForm}"
              method="post">
            <div>
                <label for="name">이름</label>
                <input th:field="*{name}" placeholder="이름을 입력하세요">

                <span th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}"></span>
            </div>

            <div>
                <label for="specialty">전문 분야</label>
                <select th:field="*{specialty}">
                    <option value="">선택하세요</option>
                    <option
                            th:each="sp : ${specialties}"
                            th:value="${sp}"
                            th:text="${sp}"
                    ></option>
                </select>

                <span th:if="${#fields.hasErrors('specialty')}"
                      th:errors="*{specialty}"></span>
            </div>

            <div>
                <label for="email">이메일</label>
                <input th:field="*{email}" placeholder="email@example.com">

                <span th:if="${#fields.hasErrors('email')}"
                      th:errors="*{email}"></span>
            </div>

            <div>
                <button th:text="${mentorForm.id != null ? '수정' : '등록'}">
                </button>
                <a th:href="@{/mentor/list}">취소</a>
            </div>
        </form>
    </main>

    <footer th:replace="~{fragments/common :: footer}"></footer>
</body>
</html>